my-workflow-2pOa1mKsFDcFR4Kw.json
{"createdAt":"2025-02-06T05:28:50.783Z","updatedAt":"2025-02-06T07:08:51.000Z","id":"2pOa1mKsFDcFR4Kw","name":"My workflow","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"741706b0-543a-4033-8f3b-7edc4eb35102","leftValue":"={{ $json.subject }}","rightValue":"Order","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[240,0],"id":"7ead35fb-5662-4b9e-8e47-33fc9e066588","name":"Filter"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM gobbo_m2_production.dpd_info_parcels WHERE order_id = 1005488","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[720,0],"id":"ab81a2a6-ef2a-4dd4-a90c-c7fe2f952d4c","name":"MySQL","alwaysOutputData":false,"credentials":{"mySql":{"id":"MAjKQVjGPiDr4ss2","name":"MySQL account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Gmail Trigger').item.json.text }}.\nAbove is the email we received from one of our customer.  Analyse the email from the customer.\n\n\"entity_id:{{ $json.entity_id }}\norder_id:{{ $json.order_id }}\ntracking_code:{{ $json.tracking_code }}\nweight:{{ $json.weight }}\nincrement_id:{{ $json.increment_id }}\nfirstname:{{ $json.firstname }}\nlastname:{{ $json.lastname }}\nshipment_info_status:{{ $json.shipment_info_status }}\nshipment_info_service_description:{{ $json.shipment_info_service_description }}\nstatus_info_status:{{ $json.status_info_status }}\nstatus_info_description:{{ $json.status_info_description }}\nstatus_info_location:{{ $json.status_info_location }}\nstatus_info_date:{{ $json.status_info_date }}\nstatus_info_label:{{ $json.status_info_label }}\ncreated_at:{{ $json.created_at }}\nupdated_at:{{ $json.updated_at }}\nshipping_date:{{ $json.shipping_date }}\nland_code:{{ $json.land_code }}\nshipping_days:{{ $json.shipping_days }}\nbarcode:{{ $json.barcode }}\ntype:{{ $json.type }}\nstart_shipping_date:{{ $json.start_shipping_date }}\", these are all the details that we have for this order id in our database. \nIf there are no details that means we don not have any order with that order id in our database. Generate an email to sent back to customer regarding the same stating that order id that you mentioned is in correct.\nIf there are details, that means we have an order with that order id given by customer. Generate an email to sent back to customer using all the necessary info from the above data retrieved from our database. Ensure what information should be shared with the customer and whats should be kept hidden.\nGenerate the email as per the query of the customer and in same language as in the email and in paragraph form and one paragraph, also make the email the most refined and efficient.\nDo not generate the subject for the email. Firstly use the first name above, if there is no first name above then use the same name as in the email, if both name don't exist use \"Dear Customer\" in the email. Only add \"Customer Support Team\" after best regards."}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[900,0],"id":"e59f1ab5-9ee8-44e7-a6b9-a1b28cdd66b3","name":"OpenAI","credentials":{"openAiApi":{"id":"Urkv2avDDoYZxe1y","name":"OpenAi account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,0],"id":"623cf965-8a62-46ac-a69a-526a934bf066","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"MCrmjUzWXfVWd0Mk","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"Order Status","message":"={{ $json.choices[0].message.content }}","options":{"replyTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1240,0],"id":"b5ce14e7-6e82-49a6-9587-13c9c964e4a6","name":"Gmail","webhookId":"c2a42539-15c5-48c5-be5c-562d4a562830","credentials":{"gmailOAuth2":{"id":"MCrmjUzWXfVWd0Mk","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Gmail Trigger').item.json.text }}\nExtract the order no from above text. give only order number."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,0],"id":"2a0f5ba5-7d6d-46df-a930-c0b2c450a4dd","name":"OpenAI1","credentials":{"openAiApi":{"id":"Urkv2avDDoYZxe1y","name":"OpenAi account"}}},{"parameters":{"includeTime":false,"options":{"timezone":""}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1420,0],"id":"5d73f33d-1bb2-4e32-bdd9-91e72e660059","name":"Date & Time"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"spazemail","mode":"list","cachedResultName":"spazemail","cachedResultUrl":"https://github.com/spazemail"},"repository":{"__rl":true,"value":"n8n-workflows-backup","mode":"list","cachedResultName":"n8n-workflows-backup","cachedResultUrl":"https://github.com/spazemail/n8n-workflows-backup"}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[1860,0],"id":"e77596b2-be22-4411-8dbf-dc583b7ad0ac","name":"GitHub","credentials":{"githubOAuth2Api":{"id":"MVESrB4qckYEYJMl","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"9507df72-2bc2-47f1-9a06-12bd90e4cca8","name":"Combine file names [GITHUB]2","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[2100,0]},{"parameters":{"filters":{},"requestOptions":{}},"id":"9e02cca1-c971-48dd-b0cb-926e0ef908de","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2340,0],"credentials":{"n8nApi":{"id":"faRd4RHAcKNTBAPH","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"5a383e21-1e2d-473a-8524-ae0a6199bfa0","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2600,40]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"33150985-a09a-42d3-9aae-4ba55108b3be","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2380,-120]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"59292036-1113-4d04-8879-cf48e52edd85","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3160,-40]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"spazemail","mode":"list","cachedResultName":"spazemail","cachedResultUrl":"https://github.com/spazemail"},"repository":{"__rl":true,"value":"n8n-workflows-backup","mode":"list","cachedResultName":"n8n-workflows-backup","cachedResultUrl":"https://github.com/spazemail/n8n-workflows-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Set Commit date').item.json.currentDate }}"},"id":"25fce38c-0b3b-4b95-96bb-453e2e44ce1d","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3680,500],"credentials":{"githubOAuth2Api":{"id":"MVESrB4qckYEYJMl","name":"GitHub account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"d782184f-455f-4197-af65-b45535ae50de","name":"currentDate","value":"={{ $json.currentDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,0],"id":"0c3ba213-cefe-48b8-97a7-37e5ceb12eab","name":"Set Commit date"}],"connections":{"Filter":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Set Commit date","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Combine file names [GITHUB]2","type":"main","index":0}]]},"Combine file names [GITHUB]2":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[]]},"Set Commit date":{"main":[[{"node":"GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"634c8707-f1da-480c-8b52-3e2f1c89533a","triggerCount":0,"tags":[]}